@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  box-sizing: border-box;

  background-color: #1d1d1d;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}
